* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    list-style: none;
    align-items: center;

}

.menu__link {
   display: none;
}

.menu__img:not(:first-of-type) {
    margin-left: auto;
}

.menu__img {
    width: 100px;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__heading {
    font-size: 35px;
    width: 50%;
}

.main__texts {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
}


.main__img {
    margin-top: 25px;
    border-radius: 50%;
    width: 300px;
}

.main__button {
    font-family:  'Montserrat', sans-serif;
    border: 3px solid #000;
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 10px;
    width: 50%;
    margin-top: 20px;
}

.main__button:hover {
    background-color:#E6E6E6;
}

.main__button:visited,
.main__button:link {
    color:#000;
}

.container {
    font-family:  'Montserrat', sans-serif;
    margin: 10px;
    border-top: 5px solid #000;
}

.container__sub {
    border-top: none;
}

.container section,.container footer{
    margin-top: 10px;
}
.container p {
    margin-bottom: 20px;
}
.holder {
    max-width: 850px;
    margin: 10px;
}

.holder__img {
    width: 100%;
}

footer p:last-child{
    text-align: center;
}
.container__sub div {
    display: flex;
    justify-content: center;
}
.container__sub img {
    max-width: 90px;
}

.responsibilities {
    display: flex;
    align-items: center;
}
i {
    margin-right: 10px;

}

.container__section > div {

    margin-top: 10px;
}

.footer p {
    margin-bottom: 0;
}
@media screen and (min-width: 600px) {

    .menu__link {
        display: flex;
     }

     .menu__link a:visited,
     .menu__link a:link {
        color: #AAAAAA;
        text-decoration: none;
     }

    .menu__link a:hover {
        color: #000;
        text-decoration: underline;
     }

    /* [class~='menu__img']:last-of-type{
        display: none;
    } */
     .menu li:last-of-type {
        display: none;
    }
    
    .menu li:first-child{
        order: 3;
    }
    
    .main {
        flex-direction: row;
        align-items: center;    
    }
    

    .main__section {
        margin: 20px 0;
        /* border: 1px solid black; */
        width: 50%;
        display: flex;
    }

    
    .main__img {
        width: 250px;
    }


    .container__sub section:not(:last-child),
    .stack img {
        margin-right: 10px;
    }


    .holder {
        max-width: 1500px;
    }

    .container__section>div {
        display: flex;
        
    }

    .responsibilities {
        flex-basis: 50%;
    }
    .responsibilities:not(:first-of-type){
        margin-left: 35px;

    }

    .responsibilities h3 {
        margin-bottom: 5px;
    }

   
}

@media screen and (min-width: 1000px) { 

    body {
        margin: 0 20vw;
    }

    .main__img {
        width: 200px;
    }

    .stack img {
        width: 80px;
    }

    .responsibilities:not(:first-of-type) {
        margin-left: 0;
        
    }

    .container__section > div {
        flex-wrap: wrap;
    }



}