* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* text-align: center; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#btn_start, 
#resultsScrn {
    margin-top: 25px;
}

#choicesLst{
    display: inline;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto 0 auto;
    
}

#choicesLst li:not(:first-of-type) {
    margin-left: 10px;
}

 #resultsLst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto 0 auto
 }